/shmupception.git/
/Library/
/Assembly-CSharp-firstpass-vs.csproj
/Assembly-CSharp-firstpass.csproj
/Assembly-CSharp-vs.csproj
/Assembly-CSharp.csproj
/Assembly-UnityScript-firstpass-vs.unityproj
/Assembly-UnityScript-firstpass.unityproj
/Assembly-UnityScript-vs.unityproj
/Assembly-UnityScript.unityproj
/Shmupception-csharp.sln
/Shmupception.sln
/Assembly-CSharp-Editor-vs.csproj
/Assembly-CSharp-Editor.csproj
/Assembly-CSharp-Editor.pidb
/Assembly-CSharp-firstpass.pidb
/Assembly-CSharp.pidb
/Assembly-UnityScript-firstpass.pidb
/Assembly-UnityScript.pidb
